<nav class="sidebar">
    <ul>
      <li><a href="#" (click)="setActive($event)"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li><a href="#" (click)="setActive($event)"><i class="fas fa-boxes"></i> Bestände</a></li>
      <li><a href="#" (click)="setActive($event)"><i class="fas fa-warehouse"></i> Lager</a></li>
      <li><a href="#" (click)="setActive($event)"><i class="fas fa-chart-line"></i> Berichte</a></li>
      <li><a href="#" (click)="setActive($event)"><i class="fas fa-cog"></i> Einstellungen</a></li>
    </ul>
  </nav>